/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// Subworkflow SUMMERIZE_VCF config

process {

    withName: 'SUMMERIZE_VCF:BCFTOOLS_MERGE' {
        ext.args   = { '--merge all --force-samples' }
        ext.prefix = { "$germline.merged" }
    }

    withName: 'SUMMERIZE_VCF:BCFTOOLS_INDEX' {
        ext.prefix = { "$germline.merged" }
    }

    withName: 'SUMMERIZE_VCF:BCFTOOLS_QUERY' {
        ext.args   = { '-H -f "%CHROM\\t%POS\\t%REF\\t%ALT\\t%FILTER\\t%TYPE\\t%ID\\t%INFO/ANN[\\t%${colv}]\\n"' }
        ext.prefix = { "$germline.merged" }
    }

}
